@page "/categories"

<PageTitle>Teuerungsportal - Kategorien</PageTitle>
<MudText Typo="Typo.h1">Kategorien</MudText>
<MudAlert Severity="Severity.Info">Hier finden Sie eine Gesamtübersicht aller indexierten Kategorien. Klicken Sie einfach auf eine Kategorie um in die entsprechende Übersicht zu gelangen.</MudAlert>

<div class="d-flex justify-center align-content-center">
    @foreach (var category in CategoriesList)
    {
        <MudPaper Elevation="0" Class="ma-3 pa-3" Style="min-width: 20rem">
            <MudLink Href=@($"/categories/{category.Name}") Typo="Typo.h3">@category.Name</MudLink>

            @if (category.SubCategories.Any())
            {
                <MudList Clickable="true">
                    <MudListSubheader>
                        Subkategorien
                    </MudListSubheader>

                    <MudDivider/>

                    @foreach (var subCategory in category.SubCategories)
                    {
                        @if (subCategory.SubCategories.Any())
                        {
                            <MudListItem Text="@subCategory.Name">
                                <NestedList>
                                    <MudListItem Href=@($"/categories/{category.Name}/{subCategory.Name}")>Übersicht</MudListItem>
                                    @foreach (var subSubCategory in subCategory.SubCategories)
                                    {
                                        <MudListItem Href=@($"/categories/{category.Name}/{subCategory.Name}/{subSubCategory.Name}")>@subSubCategory.Name</MudListItem>
                                    }
                                </NestedList>
                            </MudListItem>
                        }
                        else
                        {
                            <MudListItem Href=@($"/categories/{category.Name}/{subCategory.Name}")>@subCategory.Name</MudListItem>
                        }
                    }
                </MudList>
            }

        </MudPaper>
    }
</div>