@page "/impress"

<PageTitle>@L?["appName"] - @L?["impress"]</PageTitle>

<MudGrid>
    <MudItem xs="12" lg="6">
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.h1">@L?["author"]</MudText>
                <MudText Typo="Typo.body1">Bernhard Ruckenstuhl - Gerasdorfer Straße 162/3 - 1210 Wien</MudText>
                <MudText Typo="Typo.body1">
                    <MudLink Href="mailto:bernhardruckenstuhl96@gmail.com">bernhardruckenstuhl96@gmail.com</MudLink>
                </MudText>
            </MudItem>

            <MudItem xs="12">
                <MudText Typo="Typo.h1">@L?["impress"]</MudText>
                <MudText Typo="Typo.h2">@L?["liability"]</MudText>
                <MudText Typo="Typo.body1" Class="mb-3">@L?["liabilityText"]</MudText>
                <MudText Typo="Typo.h2">@L?["citation"]</MudText>
                <MudText Typo="Typo.body1">@L?["citationText"]</MudText>
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="12" lg="6">
        <MudPaper>
            <MudText Typo="Typo.h1">@L?["supporters"]</MudText>
            <MudText Typo="Typo.body1">@L?["supportersText"]</MudText>

            <MudButton Class="mt-3" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Handshake" Color="Color.Primary" Href="https://paypal.me/BRuckenstuhl" Target="blank">@L?["support"]</MudButton><br/>

            <MudDivider/>

            <div class="d-flex flex-row flex-wrap gap-x-8 gap-y-4">
                @if (IsLoading)
                {
                    <MudSkeleton Width="30%" Height="1rem" Class="mt-4"/>
                    <MudSkeleton Width="20%" Height="1rem" Class="mt-4"/>
                    <MudSkeleton Width="60%" Height="1rem" Class="mt-4"/>
                    <MudSkeleton Width="40%" Height="1rem" Class="mt-4"/>
                }
                else
                {
                    @foreach (var donator in Donators)
                    {
                        <MudText Typo="Typo.body1">@donator.Name</MudText>
                    }
                }
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>