@font-face {
    font-family: Madefor;
    src: url(../fonts/Wix_Madefor_Display/WixMadeforDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.toggler {
    display: none!important;
}

@media (max-width: 641px) {
    .toggler {
        display: block!important;
    }
}

.mud-divider {
    margin-top: 12px!important;
    margin-bottom: 12px!important;
}

.mud-paper {
    padding: 32px!important;
}

.mud-popover {
    padding: 0 !important;
}

.mud-alert {
    margin-bottom: 32px !important;
}

.main-svg {
    background: rgba(0,0,0,0)!important;
}

.xgrid {
    stroke: rgba(0,0,0,0)!important;
}

.ygrid {
    stroke: rgba(0, 0, 0, 0) !important;
}

.xtick text {
    fill: #C3C3C5!important;
}

.ytick text {
    fill: #C3C3C5 !important;
}

.legend .bg {
    fill: rgba(0, 0, 0, 0) !important;
}

.legendtext {
    fill: #C3C3C5 !important;
}

.mud-typography:focus-visible {
    outline: none!important;
}

@media (max-width: 600px) {
    .mud-xs-table .mud-table-cell {
        text-align: end!important;
    }
}

.loading-bg {
    width: 100vw;
    height: 100vh;
    background-color: #32333D;
}

.loading-logo {
    width: 80%;
    height: auto;
    max-width: 10rem;
}

.select-heading-item {
    font-weight: 1200 !important;
    font-size: 1.5rem !important;
}

.select-sub-heading-item {
    font-weight: normal !important;
    font-size: 1.0rem !important;
}

.select-text-item {
    font-weight: normal !important;   
    font-style: italic !important;
    font-size: 0.8rem !important;
    padding-left: var(--recursion-padding);
}